<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArgoCompilationError.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DC6B4881BB1F9A000A0836B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DC6B49C1BB1F9A000A0836B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DC6B4A71BB1F9A000A0836B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
